* {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #1e293b;
      color: white;
    }

    .navbar .logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .navbar .logo img {
      width: 40px;
      height: 40px;
    }

    .navbar .center-links {
      display: flex;
      gap: 30px;
      font-size: 16px;
    }

    .navbar .center-links a {
      text-decoration: none;
      color: white;
    }

    .navbar .search {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .navbar .search input {
      padding: 5px 20px;
      border-radius: 4px;
      border: none;
    }

    .navbar .search button {
      padding: 6px 12px;
      background-color: rgb(6, 144, 120);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }



/* Basic CSS for the form elements */

body {
    background-image: url('tour_eiffel.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro {
    margin-top: 12%;
    color: white;
    padding-left: 10%;
}

h2 {
    font-size: 40px;
}

button {
    background-color: rgb(6, 144, 120);
    padding: 6px 12px;
    color: white;
     border: none;
    border-radius: 4px;
    cursor: pointer;
}


  .social-icons-row a,
  .social-icons-column a {
    font-size: 24px;
    color: whitesmoke;
    margin: 01px;
    text-decoration: none;
  }

  .social-icons-row {
    display: flex;
    gap: 15px;
  }

  .social-icons-column {
    display: flex;
    flex-direction: column;
    gap: -15px;
  }

 
