* {
      box-sizing: border-box;
    }

    body {
        
        margin: 0;
        padding: 0;
        height: 100%;

      /*margin: 0;
      font-family: Arial, sans-serif;*/
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #1e293b;
      color: white;
    }

    .navbar .logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .navbar .logo img {
      width: 40px;
      height: 40px;
    }

    .navbar .center-links {
      display: flex;
      gap: 30px;
      font-size: 16px;
    }

    .navbar .center-links a {
      text-decoration: none;
      color: white;
    }

    .navbar .search {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .navbar .search input {
      padding: 5px 20px;
      border-radius: 4px;
      border: none;
    }

    .navbar .search button {
      padding: 6px 12px;
      background-color: rgb(6, 144, 120);
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }



/* Basic CSS for the form elements */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('tour_eiffel.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro {

position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  z-index: 10;

}

h2 {
    font-size: 50px;
}

p {
    margin-bottom: 45px;
}

button {
    background-color: rgb(6, 144, 120);
    padding: 6px 12px;
    color: white;
     border: none;
    border-radius: 4px;
    cursor: pointer;
}


  .social-icons-row a,
  .social-icons-column a {
    font-size: 24px;
    color: whitesmoke;
    margin: 01px;
    text-decoration: none;
  }

  .social-icons-row {
    display: flex;
    gap: 15px;
  }


  .social-icons-column {
    position: absolute;
    top: 70%;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
    }



 /*for About_Us.html*/


 body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('tour_eiffel.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team {
    color: white;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 75px;
}

.team-1 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 20%;
    border-radius: 4px;
}


.team-1 img {
    background-color: rgb(6, 144, 120);
    
}

.team-1 p {
    margin-bottom: 12px;
}

.team-1 button {
   
    width: 98%;
}

.team-2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 20%;
    border-radius: 4px;
}

.team-2 img {
    background-color: rgb(6, 144, 120);
    
}

.team-2 p {
    margin-bottom: 12px;
}

.team-2 button {
   
    width: 98%;
}
.team-3 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 20%;
    border-radius: 4px;
}

.team-3 img {
    background-color: rgb(6, 144, 120);
    
}

.team-3 p {
    margin-bottom: 12px;
}

.team-3 button {
   
    width: 98%;
}


.intro2 {
    color: white;
    padding-left: 10%;
}

h3 {
    font-size: 50px;
}

.navbar .center-links_1 {
    display: flex;
    gap: 30px;
    font-size: 16px;
    padding-right: 40%;
  }

  .navbar .center-links_1 a {
    text-decoration: none;
    color: white;
}

.social-icons-column-1 {
    position: absolute;
    top: 60%;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}


.social-icons-column-1 a {
  font-size: 24px;
  color: whitesmoke;
  margin: 01px;
  text-decoration: none;
}

/*. Contact.css*  /
/* Un peu de style de base à des fins de démonstration */

#contactForm {
  max-width: 570px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 50px;
  margin-top: 20%;
}

#contactForm label {
    color: white;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);;
  border-radius: 8px;
  
}
#contactForm button {
  padding: 10px 20px;
  background-color:  rgb(6, 144, 120);
  color: white;
  border: none;
  cursor: pointer;
  width: 95%;
  margin-left: 10px;
}

.team_1 {
position: absolute;
  top: 42%;
  left: 15%;
  color: white;
  z-index: 10;
}

.team_1 p {
  font-size: 15px;
  text-transform: none;
}

.social-icons-column-0 {
    position: absolute;
    top: 60%;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}

.social-icons-column-0 a {
    font-size: 24px;
    color: whitesmoke;
    margin: 01px;
    text-decoration: none;
  }
